record(ao, "$(DEVICE):INP-A") {
    field(PREC, "3")
    field(PINI, "YES")    
    field(FLNK, "$(DEVICE):INP-RES")        
}

record(ao, "$(DEVICE):INP-B") {
    field(PREC, "3")
    field(PINI, "YES")    
    field(FLNK, "$(DEVICE):INP-RES")        
}


record(calc, "$(DEVICE):INP-RES") {
    field(CALC, "a+b")
    field(INPA, "$(DEVICE):INP-A")
    field(INPB, "$(DEVICE):INP-B")
}